$darkmode: true;
$primary: #b6c4ff;
$onPrimary: #0c2878;
$primaryContainer: #2b4190;
$onPrimaryContainer: #dbe1ff;
$secondary: #c2c5dc;
$onSecondary: #2b2f42;
$secondaryContainer: #42465a;
$onSecondaryContainer: #dee1fa;
$tertiary: #e4bada;
$onTertiary: #43273f;
$tertiaryContainer: #5c3d56;
$onTertiaryContainer: #ffd6f6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #101012;
$background: #101012;
$onBackground: #e4e1e6;
$surface: #1b1b1f;
$onSurface: #e4e1e6;
$surfaceVariant: #45464f;
$onSurfaceVariant: #c6c5cf;
$outline: #909099;
$shadow: #000000;
$inverseSurface: #e4e1e6;
$inverseOnSurface: #303034;
$inversePrimary: #4459a9;
